body {
  background-color: #0A81AB;
}
.logo {
  font-style: oblique;
  color: red;
}
#text0 {
  font-weight: bold;
  font-size: 2rem;
}
.inputDiv {
  text-align: center;
  padding-top: 40px;
  margin: 100px;
}
.myDiv {
  color: white;
  border: 15px outset #293B5F;
  background-color: black;
  text-align: center;
  height: 300px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.column {
  text-align: center;
  background-color: #B6C9F0;
  float: left;
  width: 16.66%;
  padding: 10px;
  height: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
